@{
    ViewBag.Title = "Welkom";
}

<div class="box">
    <div class="header"><h2>Welkom</h2></div>
    <div class="content">
        <p>LessThan is currently in a uber private beta. :P</p>        
        <p>
            @Html.ActionLink("Login", "Index", "Login")
        </p>
    </div>
</div>
